/* Customizer dynamic styles */

body {
    font-size: calc(clamp(18px, 2.5vw, 20px) * var(--font-body-scale));
}

h1.entry-title {
    font-size: calc(clamp(1.45em, 3vw, 1.75em) * var(--font-heading-scale));
}

h2 {
    font-size: calc(clamp(1.15em, 2.5vw, 1.38em) * var(--font-heading-scale));
}

@media (max-width: 768px) {
    h1.entry-title {
        font-size: calc(1.45em * var(--font-heading-scale));
    }
    
    h2.entry-title, .related-item h4 {
        font-size: calc(1.1em * var(--font-heading-scale));
    }
    
    h1.page-title {
        font-size: calc(22px * var(--font-heading-scale));
    }
}

@media (max-width: 600px) {
    body {
        font-size: calc(20px * var(--font-body-scale));
    }
    
    h1.page-title {
        font-size: calc(22px * var(--font-heading-scale));
    }
}

@media (max-width: 480px) {
    body {
        font-size: calc(18px * var(--font-body-scale));
    }
    
    h1.page-title {
        font-size: calc(20px * var(--font-heading-scale));
    }
    
    h2.entry-title {
        font-size: calc(1.15em * var(--font-heading-scale));
    }
}